extends layout

block content
  .container
      .row
        .col-xs-12
          .page-header
            h1
              | #{title} 
              small bemutató     
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

