extends layout

block scripts
  // Include scripts.
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/bower_components/qunit/qunit/qunit.js')
  script(src='/js/mirror.js')
  script
    |!{ testjs }

block content
  .container
      .row
        .col-xs-12
          .page-header
            h1
              span.title 
              small feladatmegoldás
      h3 Feladat leírása
      .row
        .col-xs-12.description
          |!{ content }
      h3.solution Megoldás
      .row
        .col-xs-12
          .row
            .col-xs-12
              textarea#student-area= testContent
      .clearfix  
      .row
        .col-xs-12
          .btn-group
            button#do-test.btn.btn-primary
              | Teszt
            button#show-report.btn.btn-success
              | Részletek
      .clearfix  
      .row
        .col-xs-12.qunit-results
      .clearfix  
      .row
        .col-xs-12.qunit-panel
          #qunit
          #qunit-fixture
    .alert.alert-tepmlate
      span.glyphicon
      | 
      strong.title
      span.message
    div#messageModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Modal title
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Ok
            // button.btn.btn-primary(type='button') Save changes
    